{% extends 'base.html' %}

{% block bodyclass %}register{% endblock %}

{% block head %}
    {{wizard.form.media }}
{% endblock %}

{% block script %}
<script>
  URL_KEY_MAP[104]="{% url "index" %}";
</script>
{% endblock %}

{% block content %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    {% if form.errors  %}
       <div id="msg" class="alert alert-danger">
          <strong>Error!</strong> {{ form.errors.account_number }}
       </div>
       <br />
    {% else %}
    	<h2> Enter your desired 4 digit Account Number.</h2>

        <p>Push 'OK' after entering account number</p>
    {% endif %}


    <form action="" method="post">
        {{ wizard.management_form }}
        {{ form.as_p }}
        {% csrf_token %}
    </form>
    <a href="{% url "index" %}" class="btn btn-lg btn-primary btn">Cancel</a>
{% endblock %}

{% block r-button4 %}
{% endblock %}
